<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuuVRhft4sfQHLZOop7A37vlQkXVuB_Zo</string>
	<key>GCM_SENDER_ID</key>
	<string>539056605908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.togetherNowIpd</string>
	<key>PROJECT_ID</key>
	<string>together-now-53668</string>
	<key>STORAGE_BUCKET</key>
	<string>together-now-53668.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539056605908:ios:4cd70fe651f288cf61c941</string>
</dict>
</plist>